@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d2c4b;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.025em;
  margin: 0 0 31px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.025em;
  margin: 0;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.025em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1d2c4b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-container-cards {
  width: 100%;
  padding: 16px;
  background: #ffffff !important;
  border: 1px solid #efefef !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

.c-d-flex {
  display: flex;
}

.c-w-30 {
  width: 100%;
  min-width: 350px;
}

.c-w-40 {
  width: 100%;
  min-width: 500px;
}

.c-mt-16 {
  margin-top: 16px !important;
}

.c-mt-20 {
  margin-top: 20px !important;
}

.c-padding-16 {
  padding: 16px !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

@media (min-width: 900px) {
  h3 {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  h3 {
    font-size: 32px;
  }
}
