@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #1d2c4b;
}

a {
  text-decoration: none;
  color: #1d2c4b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-main {
  display: flex;
}
